* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li,
canvas {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

button:focus,
button:active {
    outline: none;
}

li {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    color: #262a2b;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.row,
.col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col {
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100%;
}

.message,
.start-message-container,
.screen-size-message {
    position: absolute;
    top: 0;
    left: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.4);
    z-index: 2;
}

.screen-size-message {
	display: none;
	z-index: 10;
	background-color: #fff;
}

.message {
    display: none;
}

.success-message,
.start-game-message,
.game-over-message {
    font-size: 1.2rem;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
}

#close-btn,
#play-btn,
#start-btn,
#game-reset-btn,
#reset-close-btn {
    color: #77e083;
    border: 2px solid #77e083;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 50px;
    cursor: pointer;
}

#play-btn,
#game-reset-btn {
    margin-right: 10px;
}

#close-btn:hover,
#play-btn:hover,
#start-btn:hover,
#game-reset-btn:hover,
#reset-close-btn:hover {
    background-color: #77e083;
    color: #fff;
}

.instructions {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 40px;
    background-color: #fff;
    overflow: auto;
}

.instruction-list {
    margin-top: 40px;
}

.key-wide,
.key-tall {
    font-family: sans-serif;
    color: #000;
    font-weight: 700;
    vertical-align: middle;
    margin: 0 5px;
}

.key-wide {
    padding: 0 8px;
}

.key-tall {
    padding: 8px 4px;
}

.game-canvas {
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    padding-top: 20px;
    background-color: #fafbfd;
}

#menu {
    position: absolute;
    display: none;
    width: 27px;
    top: 25px;
    left: 20px;
    cursor: pointer;
}

.hamburger-bar {
    display: block;
    width: 27px;
    height: 2px;
    background-color: #262a2b;
}

.middle {
    margin: 6px 0;
}

.title {
    width: 100%;
    padding-bottom: 20px;
}

.score-health-container {
    position: relative;
    width: 707px;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.heart {
    height: 15px;
    padding: 0 3px;
}

canvas {
    margin-top: -30px;
}

@media screen and (max-width: 775px) {
	.screen-size-message {
		display: -ms-flexbox;
		display: flex;
	}
}

@media screen and (max-width: 1190px) {
    .instructions {
        position: absolute;
        top: 0;
        left: -400px;
        width: 300px;
        padding: 20px;
        z-index: 1;
        transition: 0.3s ease;
    }

    #close-menu {
        position: relative;
        width: 27px;
        height: 27px;
        float: right;
        cursor: pointer;
    }

    .bar-one,
    .bar-two {
        position: absolute;
        display: block;
        width: 27px;
        height: 2px;
        top: 12.5px;
        background-color: #262a2b;
    }

    .bar-one {
        transform: rotate(45deg);
    }

    .bar-two {
        transform: rotate(-45deg);
    }

    .game-canvas {
        width: 100%;
    }

    #menu {
        display: block;
    }
}
